@charset "utf-8";

body {
	font-family: "Microsoft YaHei"; }
	
.container {
	margin: auto;
	width: 1440px;
	height: 100%; }
	
.head {
	width: 100%;
	height: 100px;
	background-image: url(../img/head.jpg);
	background-repeat: no-repeat; }

.username {
	color: white;
	position: relative;
	left:1280px;
	top: 70px; }

.quit {
	color: white;
	position: relative;
	left: 1280px;
	top: 70px;
	cursor: pointer; }

.quit:hover {
	color: grey; }

.menu .equipmanage {
	color: black; }

.menu {
	width: 200px; }
	
.menu ul {
	list-style-type: none; }

.menu li {
	color: grey;
	margin: 0 0 0 -40px;
	width: 200px;
	height: 70px;
	line-height: 70px;
	background-color: white;
	text-align: center;
	cursor: pointer; }

.menu li:hover {
	color: black; }
	
.lline {
	height: 1px;
	width: 80%;
	background-color: #CFCFCF;
	position: relative; }

.vline {
	height: 561px;
	width: 1px;
	background-color: #CFCFCF;
	position: relative;
	top: -561px;
	left: 200px; }

.detail {
	width: 1239px;
	position: relative;
	top: -1224px;
	left: 201px; }

.search {
	position: relative;
	top: 50px;
	left: 150px;
	width: 1239px; }

.equipcont {
	width: 1000px;
	position: relative;
	left: 150px;
	top: 100px; }

.tbhead {
	width: 1000px; }

.tbhead th {
	border-bottom: #CCC solid 1px; }
	
.delete {
	color: #0aa7ee;
	cursor: pointer; }

.delete:hover {
	color: #b0e2f9; } 

.set {
	color: #0aa7ee;
	cursor: pointer; }

.set:hover {
	color: #b0e2f9; } 

