@charset "utf-8";

body {
	font-family: "Microsoft YaHei"; }
	
.container {
	margin: auto;
	width: 1440px;
	height: 100%; }
	
.head {
	width: 100%;
	height: 100px;
	background-image: url(../img/head.jpg);
	background-repeat: no-repeat; }

.username {
	color: white;
	position: relative;
	left:1280px;
	top: 70px; }

.quit {
	color: white;
	position: relative;
	left: 1280px;
	top: 70px;
	cursor: pointer; }

.quit:hover {
	color: grey; }

.menu .equipmanage {
	color: black; }

.menu {
	width: 200px; }
	
.menu ul {
	list-style-type: none; }

.menu li {
	color: grey;
	margin: 0 0 0 -40px;
	width: 200px;
	height: 70px;
	line-height: 70px;
	background-color: white;
	text-align: center;
	cursor: pointer; }

.menu li:hover {
	color: black; }
	
.lline {
	height: 1px;
	width: 80%;
	background-color: #CFCFCF;
	position: relative; }

.vline {
	height: 561px;
	width: 1px;
	background-color: #CFCFCF;
	position: relative;
	top: -561px;
	left: 200px; }

.detail {
	width: 1239px;
	position: relative;
	top: -1155px;
	left: 201px; }

.row1,.row2,.row3 {
	width: 800px; }

.statusleft {
	width: 100px;
	position: relative;
	top: 100px;
	left: 150px; }

.dvline {
	position: relative;
	left: 225px;
	top: 70px;
	width: 1px;
	height: 100px;
	background-color: #cfcfcf; }

.statusright {
	position: relative;
	top: -20px;
	left: 250px;
	width: 700px; }

.img {
	width: 100px;
	height: 100px; }

.identity {
	position: relative;
	top: -85px;
	left: 10px; }

.systime {
	position: relative;
	top: -85px;
	left: 340px; }

.status {
	display: inline-block;
	width: 450px;
	position: relative;
	left: 115px; }

.temperature {
	position: relative;
	left: 195px; }

.on {
	font-weight: bold;
	color: #2fb7f5; }

.shutdown {
	position: relative;
	left: 20px;
	height: 40px;
	width: 50px;
	line-height: 40px;
	display: inline-block;
	background-color: #2fb7f5;
	color: white;
	text-align: center;
	cursor: pointer;
	border-radius: 2px; }

.dlline1 {
	width: 700px;
	height: 1px;
	background-color: #cfcfcf;
	position: relative;
	left: 270px;
	top: 0px; }

.setleft {
	position: relative;
	left: 150px;
	top: 70px; }

.row2 .dvline {
	position: relative;
	left: 225px;
	top: 50px;
	width: 1px;
	height: 100px;
	background-color: #cfcfcf; }
	

.setright {
	position: relative;
	top: -50px;
	left: 250px;
	width: 700px; }

.change {
	position: relative;
	left: 20px;
	height: 40px;
	width: 50px;
	line-height: 40px;
	display: inline-block;
	background-color: #2fb7f5;
	color: white;
	text-align: center;
	cursor: pointer;
	border-radius: 2px; }

.temcontrol {
	position: relative;
	top: 0;
	left: 100px; }

.temstatus {
	position: relative;
	top: 0;
	left: 200px; }

.time1 {
	position: relative;
	top: 40px;
	left: -420px; }

.upperlimit {
	position: relative;
	top: 10px;
	left: 360px;
	display: inline-block; }

.intem {
	position: relative;
	top: 10px;
	left: 425px; }
	
.outtem {
	position: relative;
	top: 10px;
	left: 465px; }
	
.time2 {
	position: relative;
	top: 50px;
	left: -350px; }
	
.lowerlimit {
	position: relative;
	top: 50px;
	left: -180px;
	display: inline-block; }
	
.gastem {
	position: relative;
	top: 30px;
	left: 543px;
	display: inline-block; }
	
.environmenttem {
	position: relative;
	top: 30px;
	left: 583px; }
	
.time3 {
	position: relative;
	top: 70px;
	left: -235px; }

.dlline2 {
	width: 700px;
	height: 1px;
	background-color: #cfcfcf;
	position: relative;
	left: 270px;
	top: 60px; }
	
.historyleft {
	position: relative;
	top: 140px;
	left: 150px; }

.row3 .dvline {
	position: relative;
	left: 225px;
	top: 115px;
	width: 1px;
	height: 100px;
	background-color: #cfcfcf; }

.upload {
	position: relative;
	top: 20px;
	left: 250px;
	height: 40px;
	width: 150px;
	line-height: 40px;
	display: inline-block;
	background-color: #2fb7f5;
	color: white;
	text-align: center;
	cursor: pointer;
	border-radius: 2px; }

.aboutultime {
	position: relative;
	top: 20px;
	left: 290px; }
	
.startultime {
	position: relative;
	top: 20px;
	left: 330px; }
	
.download {
	position: relative;
	top: 40px;
	left: 250px;
	height: 40px;
	width: 150px;
	line-height: 40px;
	display: inline-block;
	background-color: #2fb7f5;
	color: white;
	text-align: center;
	cursor: pointer;
	border-radius: 2px; }
	
.endultime {
	position: relative;
	top: 40px;
	left: 290px; }
	
.filestatus {
	position: relative;
	top: 40px;
	left: 330px; }